//custom for social sites
.fab {
    width: 33px;
    height: 30px;
}

.fa-facebook-f {
    background: url('socialmedia.png') 3% 4% no-repeat;
    display: inline-block;
    background-size: 35vw;
}
.fa-twitter {
    background: url('socialmedia.png') 14% 4% no-repeat;
    display: inline-block;
    background-size: 36vw;
}
.fa-linkedin-in {
    background: url('socialmedia.png') 66% 4% no-repeat;
    display: inline-block;
    background-size: 35vw;
}
.about-section {
    padding: 80px 0 80px;
    min-height: 100vh;
}
.about-section .about-img {
    flex: 0 0 40%;
    max-width: 40%;
    padding: 0 15px;
}
.about-section .about-img .img-box {
    padding: 15px;
    border-radius: 5px;
}
.about-section .about-img .img-box img {
    width: 100%;
    border: 10px solid transparent;
    border-radius: 5px;
}
.about-section .about-img .social-links {
    margin-top: 20px;
    text-align: center;
}
.about-section .about-info {
    flex: 0 0 60%;
    max-width: 60%;
    padding: 0 15px;
}
.about-section .about-info p {
    font-size: 16px;
    line-height: 26px;
    margin-bottom: 15px;
    color: var(--text-black-600);
}
.about-section .about-info span {
    font-weight: 600;
}
.about-section .about-info .btn-1 {
    margin: 30px 20px 0;
}
.social-links a {
    width: 29px;
    height: 29px;
    display: inline-block;
    border-radius: 50%;
    overflow: hidden;
    margin: 0px 8px 0px -2px;
}